:root {
    --light-pink: #e6dedd;
    --dark-contrast: #4a4a4a;
    --red-header-text: #8a0f0f;
    --yellow-check-box: rgb(237, 237, 13);
    --cherry-red: #c74646;
}

main {
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    background-color: var(--light-pink);
}

.app-title {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 20px;
}

.app-title h1 {
    color: #8a0f0f;
}

#sub-app-title {
    justify-content: space-around;
}

#and {
    color: #c22828;
}

#james-bond {
    flex-direction: right;
}

#drink-img-dim {
    max-height: 445px;
    width: 80%;
    max-width: 572px;
}

input {
    accent-color: var(--light-pink);
}

#favorites-box {
    background-color: var(--light-pink);
    box-shadow: 5px 8px var(--red-header-text);
}

#favorite-cocktails {
    background-color: var(--light-pink);
}

#favorite-cocktails a {
    display: inline;
    margin: 0.5%;
}

.kb-rounded {
    border-radius: 15px;
    border: 3px solid var(--light-pink);
}

.detail-container {
    border-radius: 15px;
    border: 3px solid var(--light-pink);
    background-color: var(--light-pink);
    color: var(--dark-contrast);
    box-shadow: 5px 8px var(--red-header-text);
}

.columns {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}

#check-here {
    position: absolute;
    top: 5%;
    right: 10%;
}

#check-here a {
    color: white;
}

#check-here a:hover {
    color: #8a0f0f
}

#check-here>* {
    display: inline;
}

.star-detail {
    background-color: var(--light-pink);
    border: 1px solid var(--dark-contrast);
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
}

#drink-ingredients {
    padding-top: 2%;
}

#movie-photo,
#drink-img {
    box-shadow: 3px 4px var(--red-header-text);
}

.outlined-text {
    -webkit-text-stroke: 1px black;
    /* Text outline with a 2px black stroke */
    text-stroke: 1px black;
}

#clear-box {
    background-color: var(--light-pink);
    color: var(--cherry-red);
    border: 1px solid var(--light-pink);
    border-radius: 5px;
}

#clear-box:hover {
    background-color: var(--cherry-red);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

@media (max-width: 768px) {

    /* Styles for smaller screens */
    #clear-box {
        background-color: var(--cherry-red);
        color: white;
        border: 1px solid black;
        border-radius: 5px;
    }
}


.modal-card {
    display: flex;
    flex-direction: column;
}

.modal-card-head {
    display: flex;
}

.modal-card-title {
    display: flex;
    justify-content: center;
}

.modal-card-body {
    display: flex;
    flex-direction: column;
}

.modal-image-display {
    display: flex;
    align-self: center;
    max-height: 75%;
    max-width: 75%;
}

#modal-ingredients {
    display: flex;
    align-self: center;
}

#modal-measurements {
    display: flex;
    align-self: center;
}

#modal-instructions {
    display: flex;
    align-self: center;
}