.header {
    display: flex;
    justify-content: center;
    background-color: #e6dedd;
}

.app-title {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 20px;
}

.app-title h1 {
    color: #8a0f0f;
}

#and {
    color: #c22828;
}

#james-bond {
    flex-direction: right;
}

#drink-img {
    max-height: 445px;
}

/* #drink-img{
    width: 30em;
    height: 30em;
} */